.section__example {
  display: inline-block;
  height: 35rem;
  width: 35rem;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: rgb(29, 65, 81);
}

.section__exampleWrapper {
    margin-right: 4rem;
    display: inline-block;
    height: 35rem;
    width: 35rem;
    
  }

.section__example:active {
    transition: 0.05s all;
    width: 34rem;
    height: 34rem;
  }

.section__exampleImage {
    opacity: 0.2;
    width: 250%;
    margin-left: -50%;
    margin-top: -50%;
    background-color: rgb(26, 28, 29);
    filter: alpha(opacity=40); /* msie */
}

.colorCloud {
    color: rgb(236, 240, 241);
}

.section__exampleTitle{
    font-size: 3.4rem;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

